

    <div class= "text-center" >

     <h2>ジャンル一覧</h2>

    </div>


<div class="container maincontents">

	<table class="table table-striped" >
	<thead>
		 <tr>
			<th>ジャンル名</th>
			<th></th>
		</tr>
	</thead>
	    <% @genres.each do |genre| %>
		<tbody>

			<tr>
		        <td>
		        	<%= genre.name %>
		        </td>
		        <td>
		           <%= link_to "削除", genre_path(genre), method: :delete, "data-confirm" => "本当に削除しますか？？" %>
		        </td>
		    </tr>


	    </tbody>
	    <% end %>
	</table>

</div>

