<div class="container maincontents">
  <h1>検索結果</h1>

  <div class="col-lg-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="piranha-title">C</th>
          <th class="cd-artist">アーティスト</th>
          <th class="cd-type">タイプ</th>
          <th class="status">状況</th>
        </tr>
        </thead>
      <% @piranhas.each do |piranha| %>
      <tbody>
        <tr>
          <td class="cd-title">
            <%= link_to piranha_path(pirahnha) do %>
              <%= piranha.title %>
            <% end %></td>
          <td class="cd-artist"><%= piranha.body %></td>
          <td class="cd-type"></td>
          <td class="status"></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>