<div class="contaiber">
	<div class="row">
			<div class="taikai">
				<h2>本当に退会しますか？</h2>


			<%= link_to "はい", user_path(@user.id), method: :delete, "data-confirm" => "本当に削除しますか？？" %>

<%= link_to "いいえ", user_path(current_user.id) %>

			</ul>
		</div>
    </div>
</div>