<h2><%= @buyer %> さん</h2>
　<p>投稿した里親募集に対して以下の内容で応募が来ています。</p>

　 <p>応募者の名前：<%= @user %>さん</p>
 　<p>メールアドレス：<%= @mail %></p>
  <p>内容：<%= @answer %></p>

  <p>応募者さんとのやりとりはこれ以降はお互いのメール間で話し合って下さい。</p>